.header{
    background-color: rgb(36, 36, 36);
    padding-top: 20px;
    padding-bottom: 10px;
    font-family:Arial, Helvetica, sans-serif;
}

.add-note{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 750px;
    min-width: 300px;
    display: -webkit-flex;
    width: 100%;
    height: 30px;
}

.add-button{
    width: 20%;
    margin-left: 10px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 900;

    border:0 solid lightgray;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    background-color: #4eb5f1;
    text-align:center;
    transition: all 0.2s;
}

.add-button:hover{
    background-color: #4095c6;
}

.add-textfield{
    font-family:Arial, Helvetica, sans-serif;
    border:0.1em solid grey;
    border-radius:0.12em;
    font-size: 16px;
    -webkit-flex:1 ;
    text-overflow: ellipsis;
}